{#
/**
 * @file
 * Default theme implementation to display 6col 6col layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout wrapper.
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'layout',
    'layout--sixcol-sixcol',
    'container',
  ]
%}

{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="row">
      {% if content.first_6col %}
        <div {{ region_attributes.first_6col.addClass('layout__region', 'layout__region--first_6col', 'col-md-6') }}>
          {{ content.first_6col }}
        </div>
      {% endif %}

      {% if content.second_6col %}
        <div {{ region_attributes.second_6col.addClass('layout__region', 'layout__region--second_6col', 'col-md-6') }}>
          {{ content.second_6col }}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}

