{#
/**
 * @file
 * Default theme implementation to display 6col 6col layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout wrapper.
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'layout',
    'layout--fourcol-eightcol',
    'container',
  ]
%}

{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="row">
      {% if content.first_4col %}
        <div {{ region_attributes.first_4col.addClass('layout__region', 'layout__region--first_4col', 'col-md-4') }}>
          {{ content.first_4col }}
        </div>
      {% endif %}

      {% if content.second_8col %}
        <div {{ region_attributes.second_8col.addClass('layout__region', 'layout__region--second_8col', 'col-md-8') }}>
          {{ content.second_8col }}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}

